.gradle
.idea
build
bin
.classpath
.settings
.project
.pydevproject
.DS_*
supervisord*
src/test/resources/docker/bitbucket/data/*
src/test/resources/docker/bitbucket/db/*
secrets.xlvals
supervisord.*
xlr-bitbucket-plugin.iml
deploy_key
test
